.supermums-carousel {
    position: relative;
    margin: 0 auto;
    padding: 2em 0.4em;
}

.testimonial-carousel-items {
    height: 100%;
    width: 100%;
    padding: 0;
}

.testimonial-carousel-item {
    background-color: #B9318F;
    text-align: center;
    padding: 2em;
    border-radius: .4em;
    height: 100%;
    text-align: center;
}

.review-img img {
    text-align: center;
    width: 80px;
    margin: 1em auto 0em auto;
}

.review-content {
    font-size: 1.2em;
    font-style: italic;
}

.review-name, .review-company {
    font-size: 0.9em;
}

/* Media Queries */

/* Small & Mobile Device Upwards */
@media (min-width: 544px) {}

/* Tablet Upwards */
@media only screen and (min-width: 768px) {

}

/* Desktop Small */
@media only screen and (min-width: 992px) {
.supermums-carousel {
    padding: 2em;
}
}

/* Desktop Large */
@media only screen and (min-width: 1200px) {

}

/* Tablet */
@media (max-width: 921px) {


/* Mobile & Tablet */
@media only screen and (max-width: 768px) {}

/* Mobile only */
@media only screen and (max-width: 544px) {

}